[2020-06-02 21:41] thedoubl3j opened #10 "edit tags in galaxy.yml"
The tags currently found in the galaxy.yml file would be good for a blog post but AH utilizes these tags to help users find specific, preset tags based on use case. This list can be found when first landing in AH.

![Screenshot from 2020-06-02 17-40-27](https://user-images.githubusercontent.com/24478650/83572829-44b86000-a4f8-11ea-982f-af195a07f265.png)

I would add just infrastructure to this lis

[2020-06-07 21:33] pbfinley1911 commented on #10
Resolved in upcoming commit

[2020-06-07 21:33] #10 closed

[2020-07-14 13:21] robinsg opened #26 "Documentation incorrect for aix_filesystem"
The documentation at [https://ibm.github.io/ansible-power-aix/modules/filesystem.html](url) refers to this module as filesystem instead of the actual module name aix_filesystem.

[2020-07-14 13:23] #26 closed, assigned to nobody

[2020-07-14 13:23] robinsg commented on #26
Wrong version of the documentation. My apologies.

[2020-08-21 12:43] s-man-g opened #31 "Step by step guide"
**Is your feature request related to a problem? Please describe.**
Users are frustrated that there is not a step by step guide to get them rolling. There is one on installation, but an in-depth walk-through from installation to running a playbook would be useful. Not completely comprehensive, but beyond a quick start.

**Describe the solution you'd like**

A beginning to end playbook guide for a n

[2020-08-21 12:48] pbfinley1911 commented on #31
Hi Sam,
Please reach out if you need an environment for testing or Tower steps (optional)

[2020-08-24 13:46] pbfinley1911 opened #33 "Bad default value for parts attribute in installp.py"
**Describe the bug**
There's an issue with module installp.py   (Reported by dpkshetty)

Around line 282:  this will cause an error because of the default used with parts (None).

parts = module.params['parts']
    strparts = ''
    for part in parts:
        if part == 'root':
            strparts += 'r'
        elif part == 'share':
            strparts += 's'
        elif part == 'usr':

[2020-08-24 14:06] dpkshetty opened #34 "doc: ibm/power_aix/modules/installp examples may refer to ansible's os/installp not ibm.power_aix"
**Describe the bug**
ibm/power_aix/modules/installp examples may refer to ansible's os/installp not ibm.power_aix

**To Reproduce**
Steps to reproduce the behavior:
1. https://ibm.github.io/ansible-power-aix/modules/installp.html
2. Copy any example
3. It works but then its actually using ansible's built-in OS module's installp, not ibm.power_aix.installp
4. No error seen and User may mistakenly t

[2020-08-24 14:22] dpkshetty commented on #33
Thanks @pbfinley1911 for opening the issue on my behalf, appreciate it 👍

[2020-08-24 14:34] pbfinley1911 commented on #33
@dpkshetty  You're welcome.  Let me know if you need the module patched before the team releases the change.  It's a minor change.

[2020-08-27 14:00] robinvy commented on #33
Fixed in the Pull Request #35

[2020-08-27 14:06] #33 closed, assigned to pbfinley1911, robinvy

[2020-09-19 20:07] takizan opened #38 "can't find user module"
There is user module in the document [here](https://ibm.github.io/ansible-power-aix/modules/user.html).
But ibm.power_aix collections 1.0.2 has no user module.
Where is the user module for aix?

[2020-09-19 20:16] pbfinley1911 commented on #38
Hi, the user module hasn't been upstream to the Galaxy community.. not yet.  New modules will be added in the upcoming 1.1.0 version (end of Sept).

Keep in mind that the documentation isn't limited to Galaxy content.  It includes modules/content found within the Git project space as well.  So, it's best to check the Content tab within the Galaxy power_aix space.

[2020-09-21 00:52] #38 closed, assigned to pbfinley1911

[2020-09-24 17:51] kvangogh opened #40 "Python Error when using suma.py module"
Using Ansible 2.9 and Python 3.6.8
Problem:
when trying to use suma module to download service pack to aix endpoint getting the following python output ending in a python error:
  **ValueError: too many values to unpack**

[root@POWERVCLAB1 aix]# ansible-playbook aix_suma.yml

PLAY [NIM check for system updates] ************************************************************************************

[2020-09-24 18:23] robinvy commented on #40
Hi kvangogh,
Thank you for letting us know about this issue.
The fix will be part of the PR #39 (you can see the following commit if you want to fix it on your system right now: https://github.com/IBM/ansible-power-aix/pull/39/commits/afc340d1458e712efae1941376744e545e73a214 )

[2020-09-24 21:36] kvangogh opened #41 "nim_vios_hc.py errors"
Running ansible 2.9 on python 3.6.8
encountering errors when running playbook with nim_vios_hc.py module

Error:
[root@POWERVCLAB1 aix]# ansible-playbook vios_hc.yml

PLAY [VIOS health check playbook] **************************************************************************************

TASK [execute power_aix_vioshc role] **************************************************************************

[2020-09-24 21:43] kvangogh opened #42 "error running module suma.py AttributeError: 'tuple' object has no attribute 'rstrip'"
After applying suggested fix (a382be1)

error when running the same playbook calling suma.py module to update tl levels on aix endpoint

Error details:
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AttributeError: 'tuple' object has no attribute 'rstrip'
fatal: [ansible-vm1]: FAILED! => changed=false
  module_stderr: |-
    Shared connection to an

[2020-09-25 08:00] robinvy commented on #41
That's odd, the vioshc log file shows the `# lsnim -a if1` command result for smocopwrhmc1 is:

while in the `# lsnim -l smocopwrhmc1` command on your system returns:

Those output should be the same. Did you change the NIM smocopwrhmc1 object between these two command?

Note the `vioshc.py` script is expecting the full hostname (`smocopwrhmc1.jhacorp.com`) to be set in the interface (`if1`) optio

[2020-09-25 08:36] robinvy commented on #42
I don't see any reference to `tuple` object in suma.py file. Please check you get an up to date version of the file.

In addition, note that the fix mentioned (a382be1) is not related to issue #40, it's related to TravisCI build.
You should apply commit `suma: fix issue #40 unpack error calling suma_command` with hash (afc340d) that is part of the last PR #39.

[2020-09-25 17:34] pbfinley1911 commented on #34
The changes have been approved and will be present in the upcoming release (Sept 28th)

[2020-09-25 17:34] #34 closed, assigned to pbfinley1911

[2020-09-30 13:05] ssouksav opened #44 "unable to modify "login" and "rlogin" parameters with user module"
hi

I use the following code in order to change "login" and "rlogin" attributes to "false":

---
- name: MY PLAYBOOK
  hosts: LAB
  remote_user: ansible

  collections:
  - ibm.power_aix

  tasks:
  - name: change login and rlogin
    user:
      state: modify
      name: bin
      attributes:
        login: false
        rlogin: false

The ouput looks fine:
PLAY RECAP ****************************

[2020-09-30 14:29] dberg1 commented on #44
This is because you are using boolean values (false) not strings ("false").
false without the double-quotes will be expanded as "False" by Python which is not a supported `chuser` `login` or `rlogin` value.

You can change your playbook like this:
[code]

[2020-09-30 14:34] dberg1 commented on #44
The AIX `chuser` command simply ignores unkown values:
[code]

[2020-09-30 15:55] aklyachkin commented on #42
Just got the same error with the version 1.1.0 of the collection.

The problem is, that the function suma_command() returns 2 values:

[code]

but the calls to the function in the module expect just stdout:

[code]

If you change it to:

[code]

everything works correct.

Test playbook:

[code]

[2020-10-01 06:27] ssouksav commented on #44
indeed, it's so obvious when you know the answer!

Thank you very much @dberg1 !

[2020-10-01 06:27] #44 closed, assigned to kavanabhat

[2020-10-01 06:38] robinvy commented on #42
Oh yes, my bad. I didn't mean to add the rc in the suma.py file.
`    return rc, stdout`
Just removed the rc as: `return stdout` .
The `rc != 0` case if handled in suma_comand calling `module.fail_json`. And suma_comand will always return 0 so we can avoid returning rc.
It will be fixed in the next PR #45.

[2020-10-16 17:06] pablomuelainco opened #47 "module setup, failed when running a playbook"
Control node: Ansible 2.9
Ansible Endpoint: AIX 7.2, Python 2.7

Error: module setup, failed when running a playbook

[autom@ansible playbooks]$ ansible-playbook yum-conf.yml
[WARNING]: running playbook inside collection ibm.power_aix

PLAY [aix72] *******************************************************************************************************************************************************

[2020-10-19 07:02] dberg1 commented on #47
Could you please check which version of sudo is installed on the target host?
My version of sudo from AIX toolbox supports `-n` option:
[code]

[2020-10-21 13:11] pbfinley1911 commented on #47
The errors witnessed aren't specific to our collection, so we'll close at this time.

[2020-10-21 13:11] #47 closed, assigned to pbfinley1911

[2020-10-21 13:13] pbfinley1911 commented on #42
Fixed in next collection refresh. (Oct 24th)

[2020-10-21 13:13] #42 closed, assigned to pbfinley1911

[2020-10-21 15:18] #40 closed, assigned to nobody

[2020-10-26 11:30] #31 closed, assigned to pbfinley1911, s-man-g

[2020-10-26 11:32] pbfinley1911 commented on #41
Marking as stale. Please reopen when additional details are available.

[2020-10-26 11:32] #41 closed, assigned to robinvy

[2020-11-05 18:06] s-man-g opened #49 "Doc Clarification"
Hi Team,
Can we get a statement to clarify if AIX is supported as a control node?
Here:

https://github.com/IBM/ansible-power-aix/blob/dev-collection/docs/source/requirements.rst

[2020-11-05 20:17] pbfinley1911 commented on #49
There is a version of ansible which has been ported to AIX (and is available via AIX yum), but IBM doesn't provide service/support for the product, nor does Red Hat provide support.    Community-only

[2020-11-05 20:17] #49 closed, assigned to pbfinley1911

[2020-11-06 05:32] kavanabhat commented on #49
@s-man-g, the official site for downloading AIX OpenSource packages is https://www.ibm.com/support/pages/aix-toolbox-linux-applications-downloads-alpha

[2020-12-08 15:44] cunlifs opened #56 "user module to remove home directory too"
When using the ibm.power_aix.user module to remove a user, there is no option to also remove the users home directory. The ansible core user module does allow this via the remove/force options.

Would it be possible to allow your user module with state=absent to remove the home directory too.

[2020-12-08 15:57] cunlifs opened #57 "Creating a new user with specific pgrp ID does not update the ownership of the home directory."
When using ibm.power_aix.user state=present to build a new user along with the a pgrp attribute, the home directory appears to be created with another user id as owner.

1) Playbook/vars to recreate:
______________
vars:
    user_name: ansible
    user_id: 999

    - name: Add user to AIX VM - skip if home directory exists or is wrong OS
      ibm.power_aix.user:
        state: present
        nam

[2020-12-08 16:16] pbfinley1911 commented on #57
Thanks for opening.. we'll investigate for our next collection update (Dec 28th)

[2020-12-08 16:19] pbfinley1911 commented on #56
Good idea @cunlifs

We'll investigate very soon.

[2020-12-09 04:48] kavanabhat commented on #57
Nitish,
 
Please handle this.
 
Regards,
Kavana
 
----- Original message -----From: PFin <notifications@github.com>To: IBM/ansible-power-aix <ansible-power-aix@noreply.github.com>Cc: kavanabhat <kavana.bhat@in.ibm.com>, Assign <assign@noreply.github.com>Subject: [EXTERNAL] Re: [IBM/ansible-power-aix] Creating a new user with specific pgrp ID does not update the ownership of the home directory. (#5

[2020-12-21 15:38] pbfinley1911 commented on #57
Available for download. (All platforms)

[2020-12-21 15:38] #57 closed, assigned to kavanabhat

[2020-12-21 15:38] pbfinley1911 commented on #56
Available for download (all platforms)

[2020-12-21 15:38] #56 closed, assigned to kavanabhat

[2021-01-20 16:23] AeXiPHiXiON opened #59 "Please add "removed" as a device state"
Please add "removed" as a device state in devices.py to perform rmdev -dl <device>

  state:
    description:
    - Specifies the desired state of the device.
    - C(available) configures device when its state is 'defined', otherwise it changes the device
      attributes.
    - C(defined) unconfigures/stops the device when its state is 'available', otherwise it changes
      the device attribute

[2021-01-20 17:30] AeXiPHiXiON opened #60 "reboot – Reboot AIX machines"
In the example, connect_timeout is invalid

    - name: "Reboot a machine"
      reboot:
        pre_reboot_delay: 20
        post_reboot_delay: 20
        connect_timeout: 10
        reboot_timeout: 300

[2021-01-20 18:21] pbfinley1911 commented on #59
Thanks, we'll have a review (and response) shortly.

[2021-01-20 23:16] AeXiPHiXiON opened #61 "alt_disk -> "No free disk available""
Fails with no disk available error, tried targets: hdisk1, disk_size_policy: nearest, and disk_size_policy: minimize.

alt disk copy works fine from AIX cli

    TASK [Perform an alternate disk copy of the rootvg to hdisk1] fatal: [hostname]: FAILED! => {"changed": false,
    "msg": "No free disk available", "stderr": "", "stderr_lines": [], "stdout": "", "stdout_lines": []}

    - name: Perform a

[2021-01-21 23:49] AeXiPHiXiON commented on #61
**commenting out the below lines in the get_free_pvs(module) fixed the issue**

    free_pvs = {}
    for line in stdout.split('\n'):
        line = line.rstrip()
        match_key = re.match(r"^(hdisk\S+)\s+(\S+)\s+(\S+)\s*(\S*)", line)
        # Only match disks that have no volume groups
        if match_key and match_key.group(3) == 'None':
            hdisk = match_key.group(1)
            #

[2021-01-22 17:54] AeXiPHiXiON commented on #61
Looking into this further you're going to have issues with "lquerypv -V hdisk" unless you run "chpv -C hdisk" on all your unused disk prior to running the alt disk copy. Also many customers run some type of raw pv's like Oracle ASM which will show as a "free" hdisk with lquerypv -V

[2021-01-22 18:13] AeXiPHiXiON commented on #61
probably better doing this, this still doesn't address the oracle asm issue

    #getlvodm -j hdisk4
    0516-320 getlvodm: Physical volume hdisk4 is not assigned to
        a volume group.
    #echo $?
    3

[2021-01-22 18:32] pbfinley1911 commented on #60
Thanks.  We'll add back support for connect_timeout, but my understanding is that it doesn't work properly on AIX.. the team will review and plan accordingly.

[2021-01-22 18:35] pbfinley1911 commented on #61
Ah, yes..  you're right!  I'll assign to the team for review.

Have you considered making contributions to our collection?  Pull requests are welcomed at this time and thanks again for the valuable insight.

[2021-01-22 18:45] AeXiPHiXiON commented on #61
Let me get my python skills to the same level as my perl skills and yes I might be able to contribute ;)

[2021-01-29 06:05] madhu-pillai opened #62 "SMTCTL"
Hi,
Good Day

I've written a Ansible module for smtctl (multithreading) for Power8 and Power9. I've tested and it is working fine.
Just wondering whether i can contribute to ibm.power_aix.

Please suggest.

Thanks
Madhu

[2021-01-30 21:22] pbfinley1911 commented on #62
Yes, please submit a PR and I'll review the content.  Thanks

https://github.com/IBM/ansible-power-aix/blob/dev-collection/CONTRIBUTING.md

[2021-01-30 21:22] #62 closed, assigned to pbfinley1911

[2021-01-31 14:39] Mikesch-mp opened #63 "Failure on PowerHA nodes with lvm_facts"
Hello,

on some cluster nodes i get a failure during gathering lvm_facts. It has todo with volume groups that are clustered. If i do the gather only on rootvg's i get no error on these nodes.

The output if the failure happens:
[code]

AIX Level is: 7200-02-06-2016
PowerHA Level is: 7.2.4 SP1
Python Version 3.8.5
Ansible Version: 2.10.5
ibm.power_aix version 1.2.1

[2021-02-01 22:58] woodstea23 opened #69 "Make emgr interim fix installation idempotent"
**Is your feature request related to a problem? Please describe.**
I tried installing an interim fix with the install action from the emgr module. It handled the installation of the new openssl_fix32 interim fix just fine, but if you run the playbook against the same host more than once, it errors.

**Describe the solution you'd like**
Ideally this should be idempotent -- you should be able to run

[2021-02-01 23:22] pbfinley1911 commented on #69
Hi there! We have thick skin over here, so any constructive criticism is welcomed. 👍

Let's see how soon it can be addressed.  Pull requests are acceptable as well ;)

[2021-02-02 18:59] azmath130 opened #70 "ansible-ibm.power_aix.flrtvc module need to ensure it uses https for download"
**Describe the bug**
ansible-ibm.power_aix.flrtvc module  picks up ftp as default protocol for downloading files. ftp is not an option for us. We need a way to specify the desired transport protocol. Would need to ensure that flrtvc uses  https protocol to download fixes. How do we do this?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....

[2021-02-09 06:21] nitismis commented on #60
connect_timeout support was removed because it was increasing the turn around time for the task exponentially. That timeout period is handled with reboot_timeout and machine's connection default connect_timeout. So, removing connect_timeout parameter from the example as well.

[2021-02-09 06:21] #60 closed, assigned to nitismis

[2021-02-13 12:37] kmkamyk commented on #70
Hello,
I have an ftp problem too . I can't use this playbook because it hangs when downloading from FTP, my organization is blocking this type of traffic .
I understand that ftp is specified as the download address in FLRTVC.ksh:

[code]
but replacing ftp with https works great. eg. `wget https://aix.software.ibm.com/aix/efixes/security/openssl_fix32.tar
`
Therefore, I support the addition of http

[2021-02-26 13:47] MaartenKreuger opened #72 "Add non-striped LVs to lvol2 module"
The lvol.py module only allows striped LVs to be created:

---
- name: create a logical volume and filesystem
  hosts: my-new-vm
  tasks:
  - name: create a Logical Volume
    ibm.power_aix.lvol:
      state=present
      vg=datavg
      lv=testlv
      lv_type=jfs2
      num_of_logical_partitions=10

fatal: [my-new-vm]: FAILED! => {"changed": false, "cmd": "mklv -t jfs2 -y testlv -c 1  -e x  -S N

[2021-02-26 13:51] MaartenKreuger opened #73 "filesystem creation does not support existing LV"
The filesystem.py module does not support creating a filesystem on an existing LV. I added code to allow the -d option to be added.
[filesystem.txt](https://github.com/IBM/ansible-power-aix/files/6050007/filesystem.txt)

[2021-03-01 08:47] Bhargava250 opened #74 "Bootstrap playbook failing due to corrupted yum_bundle.tar file"
**Describe the bug**
We are using this collection for installing yum and python on AIX managed server.

**To Reproduce**
Steps to reproduce the behavior:
https://galaxy.ansible.com/ibm/power_aix
Downloaded tar file from ansible galaxy

Update ansible.cfg file and inventory file according to my env

After that the playbook execution is failing with below error

[root@p208n149 bootstrap]# ansible-pl

[2021-03-01 08:50] Bhargava250 commented on #74
After debugging identified that "yum_bundle.tar" file is getting downloaded from ftp server " ftp://ftp.software.ibm.com/aix/freeSoftware/aixtoolbox/ezinstall/ppc/yum_bundle.tar" and is getting corrupted and yum is not getting configured on AIX.

# cksum yum_bundle.tar
1143754989 65371101 yum_bundle.tar <--- Wrong

# cksum yum_bundle.tar
744085116 54896640 yum_bundle.tar <--- Good

The collection

[2021-03-10 16:26] stephenulmer opened #76 "ibm.power_aix.filesystem reports changes when none occur"
**Describe the bug**
ibm.power_aix.filesystem reports changed when doing nothing.

**To Reproduce**

Run this play twice in succession:
[code]

**Expected behavior**
The task should not report that anything has changed on subsequent runs (when nothing has changed).

**Screenshots**
First run:
[code]

All subsequent runs:
[code]

**Environment (please complete the following information):**
 - OS: A

[2021-03-11 23:47] metabsd opened #77 "Update ALL with local data"
Hi,

Can I use this plugin to do the update but use already download bff ?
Thx!

https://github.com/IBM/ansible-power-aix/blob/3e0a50e377d5734addcf9e78a630a48beb1f0008/playbooks/demo_update-all-hosts.yml#L15

[2021-03-15 13:59] pbfinley1911 commented on #77
Hi,
The suma module will still attempt to discover updates, but will only download additional files if they aren't already present in the directory specified.  Afterwards, all files are used as part of an update_all routine.

If you're just wanting to run an install against a repository (without any additional checking upfront), then try using the geninstall module.

[2021-03-15 13:59] #77 closed, assigned to nobody

[2021-03-16 14:48] robinsg opened #78 "reboot module fails when specifying pre_reboot_delay in ad-hoc ansible command"
When I run:

`ansible aix01 -m ibm.power_aix.reboot -a "pre_reboot_delay=20 post_reboot_delay=20 reboot_timeout=450 test_command=uname" -bK
`

I receive the following error:
[code]

If I run the command again but remove pre_reboot_delay I do not receive an error:

`ansible aix01 -m ibm.power_aix.reboot -a "post_reboot_delay=20 reboot_timeout=450 test_command=uname" -bK`

Is there anything specific

[2021-03-18 11:24] nitismis commented on #78
Hi Robin !
We are not able to recreate the issue with our test system or yml playbook files. Can you please copy the verbose output here. I mean output of the adhoc command with -vvv. I am able to run the playbook:
TASK [reboot the machine] ***************************************************************************************************************************************************************

[2021-03-18 18:06] krishnahumagain opened #79 "unable to perform vios health check"
**Describe the bug**
trying to execute vios health check playbook.
---
- name: "VIOs health check playbook"
  hosts: nimna2
  gather_facts: no

  collections:
  - ibm.power_aix

  tasks:
    - name: Perform a health check
      nim_vios_hc:
        targets: "sharedna12vio1"
        action: health_check
      register: result
    - debug: var=result
#######Getting the following output, even though

[2021-03-22 17:54] neikei opened #80 "Ansible and Collection version in bug report template"
**Is your feature request related to a problem? Please describe.**
Toubleshooting of error messages isn't easy if we don't know the used Ansible and Collection version.

**Describe the solution you'd like**
Add Ansible and Collection version to the bug report template to improve the troubleshooting of bugs.

**Describe alternatives you've considered**
None

**Additional context**
None

[2021-03-23 15:38] #80 closed, assigned to nobody

[2021-03-23 15:41] #59 closed, assigned to nitismis

[2021-03-29 15:18] gforster opened #82 "Allow nim module to work for new installs"
**Is your feature request related to a problem? Please describe.**
Currently, works only for fileset updates with lppsource, not new installs. i.e. the fileset should already exist on the nim client for it to work

**Describe the solution you'd like**
Allow the ability to install new filesets

**Describe alternatives you've considered**
the suma and nim_suma modules don't seem to address this use

[2021-04-22 18:50] mrajesh1 opened #84 ""Request failed: <urlopen error unknown url type: https>""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
5. fatal: [servername.domain.com]: FAILED! => {"changed": false, "dest": "/var/opt/ansible/GTS/tools/ConfigMergeTool.jar", "elapsed":, 0, "msg": "Request failed: <urlopen error unknown url type: https>",

[2021-04-22 18:51] mrajesh1 commented on #84
we are getting the below error while executing playbook, we are using AIX OS.

fatal: [servername.domain.com]: FAILED! => {"changed": false, "dest": "/var/opt/ansible/GTS/tools/ConfigMergeTool.jar", "elapsed":, 0, "msg": "Request failed: <urlopen error unknown url type: https>", "url": "https://XX.XX.XX.XX:8081/repository/GCM/tools/ConfigMergeTool.jar"}

[2021-04-26 11:44] #72 closed, assigned to jdejoya17, pvtorres

[2021-04-28 06:33] #78 closed, assigned to nitismis

[2021-04-28 17:14] #69 closed, assigned to nitismis, pvtorres

[2021-05-04 19:33] Findarato opened #88 "Moun"
**Describe the bug**
Mount is giving an error when I am trying to unmount a filesystem

**To Reproduce**

**Expected behavior**
Disk should be unmounted

**Screenshots**

Playbook
[code]

[code]

**Environment (please complete the following information):**
 - OS: AIX 7200-04-02-2028
 - Python Version: Python 2.7.10
 - OpenSSH Version: [e.g. 1.0.2]
 - Ansible Version: ansible 2.9.20
 - AIX Collecti

[2021-05-12 08:38] JackHealyIBM opened #90 "Creating custom privileged group"
**Describe the bug**
Not a bug, but I was asked to raise questions here

**To Reproduce**
I want to use ansible to run some custom automation on VIOS appliances.  The ansible user will need access to the /var/opt/ansible directory (and its subdirectories).

To achieve this, I believe that the ansible user will need to be in a new privileged group with rights to that directory.

Is this approach co

[2021-05-12 13:28] pvtorres commented on #88
If this a possible idempotent problem @Findarato ? does the filesystem exist while being mounted or unmounted?

[2021-05-13 15:08] nitismis commented on #84
Hi Rajesh !
The issue is not understandable from the description you have provided.
We need module from where this issue is coming.
Please provide the playbook (yml file) and command you have used. It will help us in recreating the issue.

Thanks

[2021-05-13 15:22] nitismis commented on #84
I am closing the issue for now. Please reopen the issue once you have more details.

[2021-05-13 15:22] #84 closed, assigned to nobody

[2021-05-13 16:35] #76 closed, assigned to pbfinley1911, jdejoya17

[2021-05-13 16:43] Findarato commented on #88
I am migrating my playbook back to the mount and it might have been a race condition.  I was able to make it work with the mount command, and now that I have all of that working properly and reverted back to the ```ibm.power_aix.mount:``` it seems to be working

[2021-05-13 16:43] #88 closed, assigned to pvtorres

[2021-05-14 19:05] jdejoya17 commented on #73
Creating a filesystem on an existing LV is supported. You have to specify the `device` parameter.
Check sample playbook below

[code]

[2021-05-14 19:06] #73 closed, assigned to jdejoya17, pvtorres

[2021-05-17 14:43] neikei commented on #90
Hi @JackHealyIBM, the most common solution is an entry in /etc/sudoers for your Ansible user and the "become"-switch in your playbook. So that the Ansible user has full access to all ressources of the VIO. I am not sure if this is compatible with your authorisation concept and I don't know why you need access to the path /var/opt/ansible, but I will share a short example with you. The Ansible user

[2021-05-18 22:09] pvtorres commented on #61
Fix dropped and merged.

[2021-05-18 22:09] #61 closed, assigned to raeyacld

[2021-05-21 09:29] 0rphu opened #93 "Add more options to alt-disk: -P, -b, -l, -I (create a copy, remove efixes, update_all)"
When performing an OS update, I always use alt_disk_copy -P1 to create a copy, then remove the efixes from alt_disk with chroot, and afterwards use -P23 with -b update_all to update the alt disk.

I'd like the alt_disk module to support the following flags: -P, -b, -l, -I

[2021-05-24 06:34] bofhryan opened #95 "lvol module fails when strip size not specified"
The lvol module fails to create a LV if a strip size is not specified:
fatal: [server]: FAILED! => {"changed": false, "cmd": "mklv -t jfs2 -y test_lv -c 1  -e x  -S None aixvg 64 ", "msg": "Failed to create logical volume test_lv in volume group volume_group. Command 'mklv -t jfs2 -y test_lv -c 1  -e x  -S None volume_group 64 ' failed.", "rc": 1, "stderr": "0516-1435 mklv: The -S parameter for st

[2021-05-24 14:12] jdejoya17 commented on #95
The latest version of lvol module should fix this problem.

Below is a test playbook, that does not need strip size to be specified.
[code]

Below is a snippet of the output of the playbook after running
[code]

[2021-05-24 14:15] #95 closed, assigned to nobody

[2021-05-24 17:04] DerringDo commented on #90
Thanks neikei for replying

I'm not certain that this approach will work, as the playbooks which are common across a range of OS'es expect not to have to become system to manage files in that directory.   I was hoping to avoid changing the logic just for VIOS.

[2021-05-25 15:45] stephenulmer opened #96 "Optionally avoid rebooting target for bos_inst"
**Is your feature request related to a problem? Please describe.**
Currently, *all* attempts to perform a bos_inst operation will cause the NIM server to attempt to reboot the client. This results in a long delay when the client doesn't exist yet, and prevents staging a bos_inst operation for a later time.

**Describe the solution you'd like**
The module relies on the default behavior of the NIM s

[2021-05-25 15:56] stephenulmer commented on #96
I'm not sure if this is the correct way to link a PR, but here goes: #97

[2021-05-25 20:18] stephenulmer opened #98 "ibm.power_aix.devices requires knowledge of current device state to know outcome of task"
**Describe the bug**
ibm.power_aix.devices is capable of updating the attributes of a device, but it is necessary to know the *current* state of the device to know what the result of the task will be.

**To Reproduce**
The following task will silently *not* set the IP address on the interface if it is in the "defined" state, but will instead make the interface available. A following run would then

[2021-05-26 14:03] pvtorres opened #99 "test issue"

[2021-05-26 14:03] #99 closed, assigned to nobody

[2021-05-27 08:08] 0rphu opened #100 "lvol module unable to change the number of copies of an existing lv"
**Describe the bug**
lvol module is using either mklv or chlv commands, however to change the copies of an existing lv, mklvcopy command is needed

**To Reproduce**
[code]

**Expected behavior**
number of copies should be increased

**Environment (please complete the following information):**
 - OS: AIX 7.2.5.1]
 - Python Version:  3.8.2
 - OpenSSH Version: 1.0.2u
 - Ansible Version: 1.0.2u
 - AIX

[2021-05-27 16:48] SteveMunday62 opened #101 "AWX - ibm.power_aix.nim_suma - AttributeError: 'NoneType' object has no attribute 'group'"
Describe the bug
When running nim_suma against a specific AIX 7.1 node via AWX the nim_suma.py code errors out with

AttributeError: 'NoneType' object has no attribute 'group'

To Reproduce
Use the following .yml and replace <LPAR-name> with one you have

`---
- name: "Run Service Update Management Assistant (SUMA) on AIX"
  hosts: all
  gather_facts: true

  tasks:
    - name: Check NIM for resou

[2021-05-28 21:11] jdejoya17 commented on #100
thank you for opening this issue, we will take a look and make the appropriate fix

[2021-05-31 13:37] neikei commented on #90
Okay, I got it and checked one of our VIOs, but I don't see a solution for it with the default permissions and without system as group. We've been using ansible for a while now and I can't find a /var/opt/ansible folder on any of our systems. Can you share which playbook you are using?

_Default permissions for /var/opt_

[code]

[2021-05-31 15:03] JackHealyIBM commented on #90
The playbooks are not part of any standard suite, but are custom playbooks used to manage multiple flavors of unix-like operating systems.  Across all of these OS'es, we are able to maintain configuration files etc in /var/opt/ansible, and would like to do the same on VIOS, rather than having to have VIOS-specific versions of these playbooks.  Thanks

[2021-06-02 14:45] raeyacld commented on #101
You have the follow errors in your playbook:
targets:
---> it is an unsupported parameter for ibm.power_aix.suma module
oslevel: Latest`
---> a wrong oslevel format, it should be oslevel: 'latest'

Please correct those errors in your playbook and rerun, update the issue if you still have errors

[2021-06-02 15:16] SteveMunday62 commented on #101
Thanks for reviewing things.  I was following the Examples in [https://ibm.github.io/ansible-power-aix/modules/suma.html) which has oslevel: Latest rather than oslevel: 'latest'.  In addition, in the Parameter section for oslevel it also states Latest rather than 'latest'.

Revised .yml

`- name: Run "SUMA" tasks against AIX
  hosts: all
  gather_facts: true

  tasks:
    - name: Check system upda

[2021-06-02 16:34] raeyacld commented on #101
I see. A file system for containing the updates from download needs to be created before preview or download. The file system related tasks are included in the demo_suma.yml You might want to try that instead of using the one you created. It is located at ../ansible_collections/ibm/power_aix/playbooks/demo_suma.yml, let me know if you could not find it. Thanks.

[2021-06-03 14:14] stephenulmer opened #106 "power_aix_bootstrap should use ansible_host, ansible_password, etc."
_NB: I really thought I already opened an issue for this the other day, but it doesn't seem to exist (open or closed). I apologize if this is a duplicate!_

**Is your feature request related to a problem? Please describe.**
The power_aix_bootstrap role has to copy file to the target in order to install YUM and it's dependencies. This can cause the play to stop and wait for password entry, or to fa

[2021-06-03 15:24] #100 closed, assigned to jdejoya17

[2021-06-03 18:40] stephenulmer opened #109 "ibm.power_aix.nim should be able to define NIM resources"
**Is your feature request related to a problem? Please describe.**
When setting up or maintaining a NIM server with the power_aix collection, there is no way to define resources from existing files or from other resources.

**Describe the solution you'd like**
I would like to be able to use power_aix.nim to define at least this subset of the NIM object types:
  - lpp_source
  - spot
  - bosinst_da

[2021-06-04 14:07] McBschire opened #110 "Modify attributes with boolean value does not work, if boolean value is not lowercase and in quotation marks"
**Describe the bug**
In AIX 7.2.0.0 (and probably before) the command 'chuser account_locked=True <username>' returns 0 but do not change the attribute (lock the user). Same with 'False'. This will be reported shortly to IBM AIX development.
Even the usage of lowercase true/false does not work, as Ansible changes to uppercase True/False if not in quotation marks.
Therefore ibm.power_aix.user shows

[2021-06-07 02:36] #96 closed, assigned to pvtorres

[2021-06-07 14:49] SteveMunday62 commented on #101
Hi, the /usr/sys/inst.images directory already exists on the NIM server so I'm not sure that's the issue here.

I can run the following (pulled from the AWX JSON error log) from the NIM CLI which works fine.

`/usr/sbin/suma -x -a RqType=Latest -a Action=Preview -a DLTarget=/usr/sys/inst.images -a DisplayName="AIX_SUMA_demo" -a FilterDir=/usr/sys/inst.images -a Extend=y`

The SUMA logs have the fo

[2021-06-08 01:10] pvtorres commented on #98
Thanks for helping us to improve the modules Stephen.
Stephen, did you try to use the mktcpip module?
AIX uses the mktcpip command, which has a corresponding mktcpip module in the collections.
The module will bring up the interface and also it will modify the database attributes (ODM).
In command lines, the actions can be taken by using the command o modify the attributes but then, the ifconfig co

[2021-06-08 01:55] stephenulmer commented on #98
This is the second interface, and it's also a VLAN interface. I'm pretty sure I failed to get that combination to do what I meant with mktcpip, but I could have just been doing it wrong.

Looking at what I decided to do for the play, I think that there was no way to actually do a mkdev, which I needed to make the VLAN device (entX), and I might have just gotten on the device track from trying to f

[2021-06-09 14:25] pvtorres commented on #98
The mktcpip will take care of doing all the rmdv/mkdev and chdev commands as the interfaces are not pretty straight forward on how the attributes are changed. Let me know if this works and if it does, I can close the issue.

[2021-06-09 16:00] stephenulmer commented on #98
I will make another run at this and let you know if I can make that work. However, I'm **not** asking for *devices* to sanitize or check the validity of the attributes, that is definitely the user's responsibility.

I am asking for *devices* to be idempotent. If we run it twice in a row it may change/do different things for each run based on the state of the device we started with.

The problem is

[2021-06-09 16:48] raeyacld commented on #101
I am not able to recreate the issue on my AIX 72 and previous AIX 71 systems, however, I don't have the same AIX71 level as you have.

Did you run the suma command on AIX system local successfully? what is your Java version? thanks

[2021-06-10 10:26] SteveMunday62 commented on #101
On the NIM we have the following

`amrsomanim3:/# oslevel -s
7200-03-02-1845
amrsomanim3:/# lslpp -l | grep -i java
  Java7_64.jre             7.0.0.625  COMMITTED  Java SDK 64-bit Java Runtime
  Java7_64.sdk             7.0.0.625  COMMITTED  Java SDK 64-bit Development
                             3.2.1.0  COMMITTED  RSCT GUI JAVA Msgs - U.S.
                             3.2.1.0  COMMITTED  RSCT

[2021-06-10 17:10] raeyacld commented on #101
1. All the suma errors reported are from a same AIX node (7100-05-05-1939), no matter from suma command or ansible suma module run, is this right?  Did you check if this node has /usr/sys/inst.image in place?
2. I am assuming amrsomanim3 is a NIM server, and suma command succeeded on it, are you able to run ansible suma module to verify?

According to the error logs, the error occurred from suma c

[2021-06-11 10:18] SteveMunday62 commented on #101
Currently I'm limiting the AIX target node I run the SUMA on.  The node is running AIX 7100-05-05-1939.

If I manually run the SUMA process directly on the target node it works.  If I point the AWX managed process (hosted on amrsomanim3 which is an AIX 7.2 NIM) at the same target node I get the "grep" error.

Many thanks, Steve

[2021-06-17 14:33] raeyacld commented on #101
The closest AIX 71 level I can find is 7100-05-05-1937. Still could not reproduce the issue neither from nim_suma module managed by an Ansible control node nor the suma command running on the local. The issue is most likely related to AWX. Can you let me know the following info:
1. What is your AWX version on AIX?
2. Are you able to run "lsnim" on amrsomanim3?
3. is your target AIX node (7100-05-0

[2021-06-17 15:42] SteveMunday62 commented on #101
Hi, I think you've hit upon something.

a) NIM=amrsomanim3 running AIX 7.2
b) AWX running on amrsomanim3 (i.e. the AIX 7.2 NIM)
c) The AIX node (amrasteve1) is running AIX 7.1 and deployed from the NIM running AIX 7.1
d) lsnim on amrsomanim3 doesn't list amrasteve1 as it's managed/deployed by the NIM running AIX 7.1

So, I think I'm trying to do something that isn't do-able, correct?

Many thanks,

[2021-06-22 19:32] fghoraishi opened #111 "unmount only one remote NFS dir fails."
Trying to use the amount option to unmount one remote NFS mounted directory.
It only allows me to unmount all remote directories via the mount_all: remote option.

How can I just unmount on remote directory?

Thanks

This is my playbook:

name: Unmount remote filesystems
ibm.power_aix.mount:
state: umount
mount_dir: /mnt

[2021-06-22 19:36] raeyacld commented on #101
We don't have AWX setting in our lab env. To understand the issue of grep and setting better, could you please reproduce the issue and collect the sume logs.

1. set TRACE_LEVEL=INFO in /var/suma/data/eccBase.properties
2. collect the following logs
#cd /var/suma/log/
eccAudit0.0.log
eccTrace0.0.log
#cd /var/adm/ras/
suma.log

[2021-06-22 20:38] jdejoya17 commented on #111
Hello Faad, thanks for contacting us.
I am trying to recreate your issue.
In my case it seems to be working fine.

below is some of the output of `mount`
[code]
here you see /tmp/clientnfs is the mount point of the remote filesystem
and /tmp/servnfs is the mount point of the backing fs from the remote node

now running my playbook
[code]
which is the same as yours

ansible result:
[code]

checking

[2021-06-23 13:37] stephenulmer commented on #98
My resources got moved around, but I should be able to try this again very soon.

[2021-06-23 14:13] fghoraishi opened #112 "flrtvc module questions"
Hi
We ran the flrtvc module successfully but need help to understand the reports we are getting.
We are also not sure how to get the apar.csv file? do we download it and put on the controller?

Here is what we got:

dkda3229:root[/usr/sys/inst.images/work]# ls -ltr
total 765656
-rw-r-----    1 root     system      1372160 Sep 05 2014  nas1_fix.tar
-rwx------    1 root     system        11719 Aug 2

[2021-06-23 14:15] fghoraishi commented on #111
Hi, we tired this again and we still cannot unmount only one filesystem.
We can do ALL, but not one.

Any idea how to trouble shoot this?
Out ansible is using python 2.7.5

Thanks
Faad

[2021-06-23 14:17] jdejoya17 commented on #111
hello, can i see what the output of ansible is? is it giving errors?

[2021-06-23 15:18] fghoraishi opened #113 "Reboot module in a playbook does not complete for 2 hours"
When we use the aix reboot module in a playbook, it did the reboot successfully of the target but the playbook does not complete till 2 hours later.

We tried various reboot_timeout values and it did not help.

Faad

---
- name: reboot aix systems
  hosts: aix
#  gather_facts: false
  tasks:
    - name: "Reboot a machine"
      ibm.power_aix.reboot:
        pre_reboot_delay: 30
        post_reboot

[2021-06-23 15:34] nitismis commented on #113
This bug seems to be introduced after we provided fix for type error earlier. Working on this as high priority.

[2021-06-23 17:27] fghoraishi commented on #111
here is the playbook and the output with -vvvv...Hope this helps to find the reason why we cannot unmount a single NFS remote filesystem on AIX.

Faad

Playbook

---

- name: list all mount systems

  hosts: dkda3229

  tasks:

    - name: List mounted filesystems

      ibm.power_aix.mount:

#        node: penguins1

        mount_dir: /mnt

#        mount_over_dir: /mnt

        state: umount

#

[2021-06-24 13:42] jdejoya17 commented on #111
hello Faad,
thank you for your response. I have debugged the problem and figured out what is happening.
thanks for bring this up,
hopefully we will be making a fix.

[2021-06-24 14:06] fghoraishi commented on #111
excellent, let me know when you have a fix so i can share it with the customer.

Thanks
Faad

[2021-06-28 16:24] JLRebello commented on #112
The flrtvc script generates a report like so:
Messages: details on errors/warnings.
0.report: output of flrtvc script, report and details on flrtvc error if any.
1.parse: List of URLs to download and details on parsing error if any.
2.discover: List of epkgs found in URLs.
3.download: List of downloaded epkgs.
4.1.reject: List of epkgs rejected. Can be because installed levels do not match ifix re

[2021-06-28 19:23] #70 closed, assigned to JLRebello

[2021-06-29 12:10] neikei opened #116 "When will there be the next release on Ansible Galaxy?"
The last release was published on 30.01.2021 and since then some interesting changes have been pushed.

[2021-06-29 19:30] #111 closed, assigned to jdejoya17

[2021-06-29 20:01] fghoraishi commented on #111
Hi
So where is the fix? Does the customer need to reinstall the AIX collection?

tks
Faad

[2021-06-29 20:04] jdejoya17 commented on #111
Hi Faad,
A PR was just merged to dev-collection that fixes this issue.
You can try syncing your repo with the latest commit.
We are still working on making a new release to put in github/galaxy.

thanks,
Joseph

[2021-06-30 03:16] pvtorres commented on #116
Hi Neikei. We are working on a possible end of July release. Indeed. There has been numerous fixes and enhancements to the current collection.

[2021-07-07 16:40] JLRebello commented on #112
Please let me know if you have any follow up questions. If not, I will go ahead and close the issue. Thanks.

[2021-07-07 17:26] fghoraishi commented on #112
Thanks, please close the issue.

tks
Faad

[2021-07-07 17:56] #112 closed, assigned to JLRebello

[2021-07-09 15:53] raeyacld commented on #101
Need more info to debug further. We will stop working on this until more logs are provided.

[2021-07-09 15:53] #101 closed, assigned to raeyacld

[2021-07-16 13:37] pvtorres commented on #98
Stephen, I see what you ware seen in the module. The module assumes the user knows the state of the device, and if the device does not match the state, it will ignore the changes.
Also it seems that it assumes the device attributes can be changed without disrupting the device. The module sends
the change command attributes with flags that indicate that, no disruption. But there are some devices th

[2021-07-29 16:30] stephenulmer commented on #98
I am so very sorry it took me this long to respond!

Yes, I agree with what you’re saying about the current state, and I think I agree with the solution. In my opinion the user is responsible for understanding what can and can’t be changed about the device without disruption, so the user should specify the ODM-only-equivalent flag if necessary.

In all cases, the module should either do what the u

[2021-08-06 22:30] raeyacld opened #126 "To fix master_setup and nim_maint issues in nim module"
1. master_setup task fails when it was triggered from playbook.
   the precheck of nim module calls the lsnim command which is not available until master setup is done. The precheck should be skipped when master_setup is called.

2. nim_maint function calls an unsupported meta structure, need to switch to the supported structure

[2021-08-11 12:25] 0rphu opened #128 "devices module not always idempotent"
**Describe the bug**
When using devices module to remove a route which doesn't exist, the module fails

**To Reproduce**
Steps to reproduce the behavior:
`  - name: Remove erroneous default gateway
    ibm.power_aix.devices:
      device: inet0
      state: available
      attributes:
        delroute: ",-hopcount,0,,,,,,-static,0,0.0.0.0"`

**Expected behavior**
If the route exists, it is removed

[2021-08-12 01:39] pvtorres commented on #98
@stephenulmer Take a look of the fixes. I was able to change the attributes of the en0 interface and see them reflected. I did multiple fixes for idempotency issues, removal recursive issues, etc. The module does not depend on the state of the device to execute the commands (like changing the attributes). Also, there are some devices that does not support the dynamic attribute changes (changes whi

[2021-08-12 06:37] 0rphu opened #131 "lvg module fails for non Scalable vgs"
**Describe the bug**
When modifying a VG, -M switch is presumably implicitly added. This switch is invalid for small or big VG. Extending rootvg fails.

**To Reproduce**
Steps to reproduce the behavior:
`   - name: Extend rootvg
      ibm.power_aix.lvg:
        vg_name: rootvg
        pvs: hdisk0
        state: present`

**Expected behavior**
VG is extended and returns changed. Currently, rootvg i

[2021-08-12 17:00] jdejoya17 commented on #131
Hi, thank you for bringing this up.

This issue is resolved in latest version of this collection on our github IBM repo.

sample playbook:
[code]

results:
[code]

We don't have a new release yet, but you can clone the latest repo
to check out the recent changes.

Thank you for your time.

[2021-08-12 17:01] #131 closed, assigned to jdejoya17

[2021-08-24 03:09] roxyland opened #142 "Remove old_rootvg when using 'clean' in alt_disk module"
**Is your feature request related to a problem? Please describe.**
Using action 'clean' with alt_disk does not remove old_rootvg.

**Describe the solution you'd like**
When using 'clean' in alt_disk, additional parameters should be made available to remove old_rootvg and free up disks.

**Describe alternatives you've considered**
Tried using a alt_rootvg_op -X old_rootvg instead, but this alone do

[2021-08-24 03:15] roxyland commented on #142
Adding output from alt_disk.py that prints out debug disk information

 [.ansible/tmp/ansible-tmp-1629765027.5765903-25524-25062912460462]# python AnsiballZ_alt_disk.py execute
List of PVs:
    pvs[hdisk1]: {'status': '', 'pvid': '00f98ff6475da314', 'vg': 'None'}
    pvs[hdisk0]: {'status': 'active', 'pvid': '00f98ff6475da210', 'vg': 'rootvg'}
Matched disk with "None": hdisk1
stdout of lquerypv on

[2021-08-24 20:42] jdejoya17 commented on #142
Hello,
The issue regarding the alt_disk copy showing giving the error "No free disk available" was resolved in a previous PR.
This was the issue the PR was for:
https://github.com/IBM/ansible-power-aix/issues/61

You can get the latest version in our github repo.

Thank you

[2021-08-24 20:58] stephenulmer commented on #98
Okay, I finally got to test this today!

It now does what I was expecting for all of the situations I have coded, and it's also idempotent for all of my test cases.

Thank you very much!

[2021-08-24 21:16] stephenulmer opened #145 "ibm.power_aix.user causes Ansible to crash (regression?)"
**Describe the bug**
The following task has worked for months with the current ibm.aix_power collection release:

[code]

**Expected behavior**
The module should modify the user's attributes (in the released version of the collection this module is *not* idempotent, but that is not this bug).

**Result**
[code]
**Environment (please complete the following information):**
 - OS: AIX 7.2 TL5 SP1
 -

[2021-08-25 12:17] neikei commented on #116
Well done - v1.3.0 was released today! :tada:

[2021-08-25 12:17] #116 closed, assigned to nobody

[2021-08-25 16:58] #142 closed, assigned to nobody

[2021-08-25 16:59] MGomathi commented on #79
This issue is fixed through #133 . This is available in the latest collection.
Please reopen the issue if you still face any errors.

[2021-08-26 05:54] #79 closed, assigned to MGomathi

[2021-08-27 17:15] stephenulmer commented on #98
I did some additional testing today and discovered a small problem:

If the user does *not* specify a device at all (don't ask how I managed to do this), then the module fails because eventually it tries to run:

```lsattr -El  all```

one the target. Now this only happens if you screw up the task in the YAML in the first place, but it seems worth mentioning.

As far as I am concerned, the change

[2021-08-27 17:15] #98 closed, assigned to pvtorres

[2021-08-27 22:26] pvtorres commented on #145
HI Stephen,
Indeed. It seems a fix that we did for another issue broke the user.py if a value is not pass as a string. Workaround, surround the values with quotes.
I will post a fix today for review today.

[2021-08-30 16:04] #110 closed, assigned to JLRebello

[2021-08-31 13:21] pvtorres commented on #145
I fixed it in #148  . Thanks Stephen

[2021-08-31 13:21] #145 closed, assigned to nobody

[2021-09-03 08:32] nitismis commented on #113
I have tried various scenarios to recreate the issue but the module is working fine on our test setup.

[2021-09-03 17:01] MGomathi commented on #90
We can try to create a ansible user with all privileged access as part of role and assign to it. This should give access to those folders for which root is the owner.

If we are looking for that , below is the  the command to add the privilege roles to the ansible user that we want to create from padmin restricted shell in VIOS:

 mkuser -attr "default_roles=PAdmin,CacheAdm,FSAdmin,pkgadm"  "roles

[2021-09-03 17:55] MGomathi commented on #90
We can try to create a ansible user with all Admin access privilege as part of role and assign to it.  This should give access to those folders for which root is the owner.
Are you looking for that ?

Following is the command to add privileged administrative rights to the ansible user that we want to create from oem_setup_env prompt .

Example:  To add only FS related privileges you can run like b

[2021-09-07 09:55] hyperrustie opened #151 "ibm.power_aix.user fails to create/modify user with space in gecos"
**Describe the bug**
Create or modify user fails if gecos contains spaces

**To Reproduce**
example play

    - name: Create user test1
      ibm.power_aix.user:
        state: present
        name: test1
        attributes:
          gecos: "Test1"

    - name: Create user test2
      ibm.power_aix.user:
        state: present
        name: test2
        attributes:
          gecos: "Test2 User f

[2021-09-08 15:54] surajsub opened #152 "Module for NIM Support: add nim client registration"
Request a module that will allow aix client to register with NIM . Similar to rh registration.

**Describe the solution you'd like**
1)Customer provisions an aix lpar
2) The ansible playbook should execute code on the nim server to register it with nim .

**Describe alternatives you've considered**
1) Execute a script on the nim server to register the client using standard shell commands.

**Addit

[2021-09-14 13:44] stephannavarro opened #154 "ibm.power_aix.user with change_passwd_on_login: false gives error on Failed to set password for the user:"
**Describe the bug**

When using ibm.power_aix.user with change_passwd_on_login: false gives error on Failed to set password for the user:....

**To Reproduce**
Steps to reproduce the behavior:
use this playbook :
---
- hosts: all
  gather_facts: false
  user: root
  collections:
    - ibm.power_aix

  tasks:
  - name: creating user / changing password
    ibm.power_aix.user:
      state: present

[2021-09-14 23:50] pvtorres commented on #154
Stephen, were you able to run this playbook and then able to log in with that password?
Also, are you using an AIX system as the ansible controller or a Linux system?

[2021-09-15 07:46] stephannavarro commented on #154
Ola pedro

Yes I was able to login with the password.
The ansible engine runs on linux.

[2021-09-15 17:19] stephenulmer commented on #151
I have a fix for this in a local branch. I'll try and get it rebased for the current HEAD and create a PR.

[2021-09-16 12:28] McBschire opened #157 "mount/umount: usage of parameter mount_dir and mount_over_dir in umount with NFS"
**Describe the bug**
Changing the `state` from `mount` to `umount` while mounting/umounting a NFSv4 share result in RC=1 (0506-347 Cannot find anything to unmount.)
The reason seems, that `ibm.ansible_aix.mount` uses `mount_dir` as command parameter instead of `mount_over_dir`, which the AIX umount command would need.

**To Reproduce**

[code]

results in `mount -o vers=4 HOSTNAME:/REMOTEPATH /LOC

[2021-09-16 12:43] McBschire opened #158 "mount: Ansible change state"
**Describe the bug**
(A) The `state: mount` does not act idempotent. Several executions result into `changed=true`, even if it is already mounted.
(B) The `state: umount` shows `ok=true`, even if it in fact did an umount of a previously mounted filesystem.

(A):
**To Reproduce**
1. Filesystem not mounted.
2. Run playbook to mount.
[code]
3. results in `changed=true`
4. Run playbook to mount again

[2021-09-16 15:09] pvtorres commented on #128
This problem is more related to the way inet0 works. Most attributes in devices are just modified. Inet0 config tries to remove it and when it does not find it, it will return an error to the module.
The latest collection 1.3.0 address several idempotent issues but not this particular one. It seems we will have to capture this particular case in the module.

[2021-09-16 18:43] jdejoya17 commented on #158
Hello @McBschire
I see that you are using AIX Collection Version 1.2.1
if you could update to our latest release (1.3.1) which resolved the issues you
raised

Thank you

[2021-09-16 19:27] #158 closed, assigned to jdejoya17

[2021-09-16 19:28] jdejoya17 commented on #157
Hello @McBschire,

Can you update to the current release (1.3.1) and check
if the issue still there.

Thank you

[2021-09-17 08:59] McBschire commented on #157
Moin @jdejoya17 ,

yes of course. I just did the update to 1.3.1.

I get the same behavior.

In this environment the HOSTNAME ist `ipam511`, the /REMOTEPATH is `/nim/mksysb2` and die /LOCALPATH is `/mnt`:
`ibm.power_aix.mount:
    options: 'vers=4'
    mount_dir: '/nim/mksysb2'
    mount_over_dir: '/mnt'
    node: 'ipam511'
    state: 'umount'`

I attached a screenshot of the error. The correct um

[2021-09-17 09:13] McBschire commented on #158
Moin @jdejoya17 ,

I just tested with 1.3.1. The issue is still there.

1. Not mounted
2. Run playbook with mount twice => State stays `check=true`
<img width="1038" alt="Screenshot 2021-09-17 at 11 02 25" src="https://user-images.githubusercontent.com/65787727/133757266-be8426ca-dea8-4ced-a633-ead0cb3bb7e1.png">
3. Is mounted
4. Run playbook with umount => State says directly `ok=true`
<img width

[2021-09-17 19:04] #154 closed, assigned to nobody

[2021-09-17 21:02] raeyacld commented on #126
Code has been merged. close the issue

[2021-09-17 21:02] #126 closed, assigned to raeyacld

[2021-09-20 23:18] jdejoya17 commented on #157
hi @McBschire

I see your issue. Thank you for bringing it up.
I will look into it.

Like you mentioned it looks like mount_dir is referred as the local
mount point instead of mount_over_dir, whilst in the documentation
mount_over_dir says path to which mount_dir (remote FS) should
be mounted

- Joseph

[2021-09-20 23:52] jdejoya17 commented on #157
hi @McBschire ,

if you'd like to try the fix, this is the PR
https://github.com/IBM/ansible-power-aix/pull/163

Thank you again

[2021-09-22 04:50] d-little opened #164 "Feature Request/Discussion: chsec re-re-PR"
**Is your feature request related to a problem? Please describe.**
Nope - New Module discussion

**Describe the solution you'd like**
A number of years ago @flynn1973 put together a Ansible module to act as a wrapper for the AIX `chsec` command.

A good while later that I re-submitted it to Ansible to be included, but Collections threw a spanner in the works.

Now that things have settled down a b

[2021-09-22 15:58] #157 closed, assigned to jdejoya17

[2021-09-23 17:02] fghoraishi opened #166 "how to encypt password in AIX user module"
I am not able to create a user on AIX using Ansible AIX collection's user module that get a valid password.

The user gets created and the /etc/security/passwd shows an encypted password for the user but I cannot log into the user with that password.

Can you you tell me how I should encrypt the password parameter?
I have used all these encryptions and none works.

{{ 'test1'|hash('sha1') }}
To ge

[2021-09-23 20:15] JLRebello opened #167 "-"
-

[2021-09-23 20:18] #167 closed, assigned to nobody

[2021-09-27 07:19] d-little commented on #152
Would it not be best to register the Client itself with NIM?  Perhaps as an option for either way.

nimclient -l returning success is a good proof that it works.

[code]

[2021-09-27 21:39] pvtorres commented on #166
Faad and I had a conversation and the way Faad was able to create the hash was going to an AIX server and creating a password for a dummy user, then extracting the encrypted password from the /etc/security/passwd and then using this hash with the ibm.power_aix.user module.

AIX default hashing is not compatible with other operating systems.
But users can download an open source package that will a

[2021-09-27 21:50] pvtorres commented on #106
Hi Stephen,
I recreated the problem and it seems the yum_install.yml in the power_aix_bootstrap  role is the one causing the problem.
The yum_install.yml tries to do an scp command to the target that is being handled during the execution of the role.
But it is using the inventory_hostname variable which is basically replaced directly with the "host" without expanding what the host is.  I replaced

[2021-09-28 13:33] fghoraishi commented on #166
Hi Pedro

Just to add that the hashed password can be found in /etc/security/passwd file.

Faad

[2021-09-29 02:01] #166 closed, assigned to nobody

[2021-09-30 14:11] stephenulmer commented on #106
Yes, my pull request patches that very file (for those reasons).

That was a great way to resolve the name resolution problem! I had just used the existing connection method and let Ansible resolve it for me, but it required python to get that low in the stack…

Unfortunately, when running scp in a task I still can’t find a good way to let Ansible use its configuration information about the host t

[2021-09-30 18:41] #106 closed, assigned to pvtorres

[2021-10-01 15:29] pvtorres commented on #74
Hi. I fixed a problem in the bootstrap module to install yum and python.
There is a problem with the inventory_host flag and it will return errors during the process.

https://github.com/IBM/ansible-power-aix/pull/168

Also looking deeper at the errors, I can see that the filesystem module can not be located.

If you install the collections in a different path than the ansible_collections/ibm/powe

[2021-10-01 15:52] pvtorres commented on #90
Please let us know if @MGomathi suggestion works for you.

[2021-10-01 15:52] #90 closed, assigned to nobody

[2021-10-06 14:08] pvtorres commented on #74
I will close this case. Please re-open if you still find a problem with it.

[2021-10-06 14:08] #74 closed, assigned to nobody

[2021-10-13 16:40] nitismis commented on #113
I have tried all the scenario in our test environment and I am not able to recreate the issue. The module is working as per expectation. I am closing the issue but please reopen the issue if you encounter same error again with all the logs.

[2021-10-13 16:40] #113 closed, assigned to nitismis

[2021-10-14 16:06] pvtorres commented on #109
Stephen, because the issue has been labeled enhancement, we can use this issue to track the effort. So no work will be duplicated. We are open to receive your contribution on allowing the nim module to input the attribute to define a resource. The define can be use as the action as we have a define_script action to distinguish the process of reading the define configuration from the script.

[2021-10-27 14:12] NitishMishra88 commented on #164
Hi d-little !
You can follow this link for the guidelines and open a PR:
https://github.com/IBM/ansible-power-aix/blob/dev-collection/CONTRIBUTING.md
and we will help you during the process.
One more thing, Please run sanity tests and check the documentation syntax locally prior to submit a pull request: <devops/bin/SanityTests.md|SanityTests.md>.

Thanks !

[2021-10-27 15:33] pvtorres commented on #151
Closing the issue. We merged Stephen pull request with the fix for this problem.

[2021-10-27 15:33] #151 closed, assigned to JLRebello

[2021-10-28 11:11] d-little opened #172 "ibm.power_aix.installp should be idempotent"
**Is your feature request related to a problem? Please describe.**
Per the title, it's best if Ansible is idempotent in all aspects.  I'll be working on this on and off as I get the time, but if anyone else is working on it feel free discuss here.

**Describe the solution you'd like**
Per normal, if a package is already installed and we go to install it, we shouldn't attempt a re-installation and

[2021-11-01 18:29] cunlifs opened #173 "user module doesn't work if specifying a password in the module"
Hi, using the latest version of the collection, creating a brand new user with the user module fails if specifying the password in the module.

For example this works:
  vars:
    user_name: "user2"
    group_list: "system"
    uid: "1012"

  tasks:
    # Add/Update users
    - name: Add/Update user {{ user_name }}
      ibm.power_aix.user:
        name: "{{ user_name }}"
        state: present

[2021-11-02 00:25] d-little commented on #173
You will need to switch the `state` from `present` to `modify` for existing users.

I do believe there's a feature request in this issue:  it shouldn't matter if the user has already been created when using `present`

ie: phase out `modify` and merge it with `present`

Just including your formatted yaml below for easier viewing:

[2021-11-02 08:02] cunlifs commented on #173
This is a new user, so you can't set the password at user creation (present), you have to create user the change (modify) the password?

[2021-11-03 06:34] hyperrustie commented on #151
Thx @stephenulmer for fixing this one. picked and tested.

[2021-11-04 02:22] d-little commented on #173
Is it failing to set the password at user creation?  That should work as intended.  Are you getting an error when trying to create a new user using:

[code]

[2021-11-04 15:14] cunlifs commented on #173
Password isn't a sub-attribute value, its a main attribute:

# ansible-doc ibm.power_aix.user -s
- name: Create new users or change/remove attributes of users on AIX.
  user:
      attributes:        # Specifies the attributes to be changed or created for the user. For details on valid user attributes,
                               please refers to IBM documentation at https://www.ibm.com/support

[2021-11-17 16:45] pvtorres commented on #164
@d-little  Please let us know if you have a time frame for issuing the pull request. Thanks in advance.

[2021-11-17 21:22] JLRebello commented on #173
The user module is designed to create a user and change a password in two steps, for example:
[code]

The module does not support creating a new user and setting the password in one step.

[2021-11-23 07:04] neikei opened #175 "Module to manage routes"
**Is your feature request related to a problem? Please describe.**
It would be a great enhancement to be able to manage routes via Ansible. Especially for admins of linux systems aix could become more accessible.

**Describe the solution you'd like**
I would like to manage temporary routes (command: route) and persistent routes (command: chdev -l inet0 ...) via Ansible.

**Describe alternatives yo

[2021-11-23 07:20] Architecttheday commented on #175
+1

[2021-12-03 09:34] McBschire opened #180 "Incomplete documentation for user module"
Moin Team,

Changing the password of an existing user does not work as documented.
https://ibm.github.io/ansible-power-aix/modules/user.html says:

[code]

IMHO it shoud be

[code]

as state=present do not change the password, if the user already exists.

With state=modified it is working.

Hopefully you would like to get this kind of issues.

With kind regards from Hamburg/Germany
Oliver

[2021-12-04 04:02] d-little commented on #164
I've pushed what I'm using for my own use here: https://github.com/d-little/ansible-power-aix/tree/chsec

Will do unit testing as I have time

[2021-12-08 19:37] pvtorres commented on #180
Thank  you Oliver.

[2021-12-08 20:00] pvtorres commented on #173
This problem is addressed in the pull request #171

[2021-12-09 18:26] #173 closed, assigned to pvtorres

[2021-12-14 16:09] Jbarboza06 opened #182 "Problem using nim_suma module. AttributeError: 'NoneType' object has no attribute 'group'"
Hello,

I tried to use the nim_suma module for download and create an lpp_source but I facing the next error:

"module_stdout": "Traceback (most recent call last):\r\n  File \"/home/svc_ansible_twr/.ansible/tmp/ansible-tmp-1639496919.577661-9-251273278428090/AnsiballZ_nim_suma.py\", line 102, in <module>\r\n    _ansiballz_main()\r\n  File \"/home/svc_ansible_twr/.ansible/tmp/ansible-tmp-1639496919

[2021-12-15 15:18] SteveMunday62 commented on #182
I also have the exact same issue, hope you can help, many thanks.

AIX collection: v1.4.0

ansible 2.9.14
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /opt/freeware/lib/python3.7/site-packages/ansible
  executable location = /usr/bin/ansible
  python version = 3.7.9

[2021-12-21 16:25] Rich-J-AIX opened #183 "ibm.power_aix.nim_vios_hc: missing task file "vioshc_dep_install.yml" called from role "ibm.power_aix.power_aix_vioshc""
**Running VIOS healthcheck has an issue when installing vioshc.py from ibm.power_aix.power_aix_vioshc role**
Extract:
[code]

The file **vioshc_dep_install.yml** is not included in latest collection (v1.4.0) or the git repository.

[2022-01-03 20:18] Jbarboza06 commented on #182
Hello Steve, did you find any solution?

[2022-01-06 09:50] bofhryan opened #184 "Problem in ibm.power_aix.user module when creating a user with a UID"
When using the ibm.power_aix.user module to create a user and specifying the uid in the attributes for the user an error is generated that the account exists (error text as follows):
fatal: [target]: FAILED! => {"changed": false, "msg": "\nFailed to modify attributes for the user: user", "rc": 17, "stderr": "Error changing \"id\" to \"1000025\" : Account exists.\n", "stderr_lines": ["Error changin

[2022-01-06 16:50] pvtorres commented on #184
Can you please post the playbook or just the task?
Can you also please specify the collection Release version you are using? current one is 1.4.0

[2022-01-06 21:21] pvtorres commented on #182
@SteveMunday62  I tried your playbook in 1.4.0 and it requires at least one system for the targets.

[2022-01-06 21:55] pvtorres commented on #182
@Jbarboza06, using the release 1.4.0 and your playbook, I am able to download the ptfs for the target node for that particular release.
 nim server level: 7200-05-03, target node level: 7200-05-01

[2022-01-06 22:10] Jbarboza06 commented on #182
Hi @pvtorres thanks for your reply. I had to put some debug on the python of nim_suma.py to find the problem. In my case the problem is in te execution of the comand:

        cmd = ['/usr/lpp/bos.sysmgt/nim/methods/c_rsh',
               machine,
               '"/usr/bin/oslevel -s; echo rc=$?"']

This command fails and all the exectuion of the module and playbook fails. I oppened a case with IB

[2022-01-07 05:06] bofhryan commented on #184
The issue only arises if you issue the create user specifying a password and the uid (playbook below):
- hosts: test1
  gather_subset: min

  tasks:
          - name: create user
            ibm.power_aix.user:
              name: 'ryans'
              state: present
              password: 'testpassword'
              attributes:
                id: '1000025'
                pgrp: 'staff'

[2022-01-07 05:12] bofhryan commented on #184
collection release is 1.4.0

[2022-01-07 15:38] pvtorres commented on #164
Ok. We are going to wait for your pull request.

[2022-01-07 16:43] #183 closed, assigned to MGomathi

[2022-01-12 19:38] pvtorres commented on #184
<img width="364" alt="image" src="https://user-images.githubusercontent.com/81318963/149208976-a7f9a6d4-7fc3-4681-8f43-0f6232cf1999.png">
I try to reproduce the problem, but it worked. Even for idempotency issues, I ran the command again, and this time it did not try to create the user but it returned with no failures.

Now, if I try to create a new different user, but the ID is the same (1000025)

[2022-01-14 07:44] bofhryan commented on #184
I have verified that there is no other user with the same ID:
ioco_test1:/# lsuser ALL | grep 1000025
ioco_test1:/#

It also does not matter what I make the ID the same error occurs. The user gets partially created with the correct uid but there is no password entry created in /etc/security/passwd.

this is what the user looks like after the ansible job failes:
ioco_test1:/etc/security# lsuser rya

[2022-01-14 10:27] bofhryan commented on #184
I have downloaded the latest dev release and the issue no longer exists.

[2022-01-14 15:21] #128 closed, assigned to pvtorres

[2022-01-14 15:23] pvtorres commented on #184
I will then close the issue. Thanks.

[2022-01-14 15:37] pvtorres commented on #175
@neikei, The persistent routes can be managed via the ibm.power_aix.devices module. But I will bring the the request to the team.
Example:

  - name: Add a static route
     ibm.power_aix.devices:
        device: inet0
       state: available
       attributes:
          route: ",-hopcount,0,,,,,,-static,0,0.0.0.0"

  - name: Remove a static route
     ibm.power_aix.devices:
        device: inet0

[2022-01-15 00:01] jdejoya17 commented on #172
hi d-little,

While the installp is indeed ran again underneath the module, installp itself will not reinstall an already installed fileset, instead it will command will report that the fileset is already installed. HOWEVER, the ansible installp module itself reports something has changed which is false. We will look into fixing this idempotency reporting issue.

Thanks

[2022-01-19 17:27] #172 closed, assigned to jdejoya17

[2022-01-20 14:19] #184 closed, assigned to nobody

[2022-02-04 10:59] gdelbrusco opened #190 "Add UID for User Creation"
A good idea is to add UserID on the module user.py

[2022-02-05 00:59] dfmateus opened #191 "Reboot AIX - Take too long and doing many times"
**Describe the bug**
sometimes when reboot AIX servers using a code below, it takes too long to back as evidence system reboot so many times.

**To Reproduce**
Steps to reproduce the behavior:
`- name: "Executing reboot integrate all patches into the system, Please wait..."`
     `become: true`
       `reboot:`
           `msg: "Reboot initiated by Ansible to fully integrate all patches into the s

[2022-03-10 08:22] sandori01 opened #192 "ibm.power_aix.user module add user with attributes problem"
The module when used to create a user with attributes incorrectly performs this as a two-step process.
Whe I try to create a user with a certain user ID this is what I use:
- name: Add User
  ibm.power_aix.user:
          state: present
          name: testuser
          change_passwd_on_login: True
          password: testpassword
          attributes:
                  home: /home/testuser

[2022-03-14 10:44] aklyachkin opened #193 "error is not reported in nim module"
**Describe the bug**
A small playbook is run (code see below) and returns "OK", but nothing happens. If it is run with -vvv (very verbose), there is an error in meta information:

[code]

**To Reproduce**
Code:
[code]
<img width="1251" alt="grafik" src="https://user-images.githubusercontent.com/3786052/158156389-eeaf7ae0-bd36-4031-9ed6-5cc6043691fd.png">

**Expected behavior**
The task should fail

[2022-03-28 13:54] pvtorres commented on #192
Can you please update to the 1.4.0 Collection? Several problems with the user module were fixed on that update.

[2022-03-28 15:35] pvtorres commented on #182
@Jbarboza06 Were you able to discover what was the problem? Did you register the client to the server?
The c_rsh command will run from nim to the client only if the client has been registered to the nim client.

[2022-03-29 06:40] sandori01 commented on #192
Thanks, I'll do that.

[2022-04-01 11:30] StevePOI commented on #151
Hello!

I´m still getting an error using the ibm.power_aix.user Module to modify an attribute:

[code]
leads to:

[code]

This of course works:

[code]
Result:

[code]

What can be the problem with the variables here? Also not the first issue with the user/group module, ran into the one with password and GECOS as well....

Thanks!

[2022-04-05 12:58] StevePOI commented on #63
Hello!

Error still persists one year later, can I provide information to help with this issue?

Thanks,

With kind regards,

Steve

[2022-04-11 13:38] pvtorres commented on #192
@sandori01 I will close the issue. If you see any problem with the 1.4.0, please re-open the issue.

[2022-04-11 13:38] #192 closed, assigned to nobody

[2022-04-11 21:40] dfmateus opened #194 "ibm.power_aix.suma - TypeError: '>' not supported between instances of 'NoneType' and 'str'"
**Describe the bug**
Hello,

I tried to use the **ibm.power_aix.suma** module for download only the latest version of TL/SP and getting the error below.

`TASK [ansible-testing-tower : Download Latest TL/SP 7200-05, Please wait...] ***********************************************************************************
Monday 11 April 2022  18:35:57 -0300 (0:00:00.141)       0:01:38.359 **********
An e

[2022-04-13 20:24] cheekm opened #195 "Enhance alt-disk "clean" parameter to remove old_rootvg"
As of 1.4.0, the alt-disk clean parameter only removes any existing "altinst_rootvg" disk. It would be helpful to permit the removal of old_rootvg disks as well.

**Describe the solution you'd like**
I use the alt-disk module to create a new alt-disk-copy prior to updating AIX. Before doing a "copy", I do a "clean" to remove any existing copy. In most cases, the existing copy is "altinst_rootvg".

[2022-04-19 13:18] pvtorres commented on #195
I will discuss this with the development team.

[2022-04-27 08:58] MBlenn opened #197 "ibm.power_aix.lvg wont work in loop"
### Hello team,
first of all thanks a lot for providing this collection!

**Describe the bug**
In a playbook for PowerHA SmartAssist for SAP automation I am creating users, lvs and file systems through respective modules in ansible-power-aix. I am using loops to keep the yaml nice and clean.
However, using ibm.power_aix.lvg with exact same syntax that works with the other modules, I am getting the

[2022-04-27 14:56] jdejoya17 commented on #197
Hi @MBlenn ,

Thank you for using our collection. I have tried to recreate the issue and did not find a problem.
[code]

However, notice in your loop dictionary:

[code]

this is an invalid yaml dictionary format. hence you are getting the error.

i can provide my working task below as a reference:
[code]

Let us know if there is still an issue after fixing the loop dictionary. Otherwise, we can c

[2022-04-27 18:46] edrendar opened #198 "Fixes/updates for Java are not applied using the Ansible module ibm.power_aix.flrtvc"
**Symptom**
Currently me and my team are active users of your Ansible Galaxy Collection "ibm.power_aix" project, specifically we are using the module "ibm.power_aix.flrtvc".
I'm trying to apply patches for Java, but the "ibm.power_aix.flrtvc" ansible module perform all the job right (look for the fix, download the fix) but in the installation part, is not performing anything.

**Snip from the ansi

[2022-04-27 18:56] jdejoya17 commented on #198
hi @edrendar ,

could you double check if the `ibm.power_aix.flrtvc` playbook has the parameter `download_only` not set to `true`?

based from the snippet, it says `download_only: true`
that might be the case why it only downloads and not install

[code]

[2022-04-28 00:01] MBlenn commented on #197
Hi Joseph @jdejoya17,

big oof on my end, sorry.
I was literally looking at this for hours in various configurations and didn't spot the : vs. the =, my bad :-/

Thanks so much!

Martin

[2022-04-28 00:01] #197 closed, assigned to jdejoya17

[2022-04-28 00:06] jdejoya17 commented on #197
Hi Martin @MBlenn ,

Not a problem. Thanks for using our collection. We are happy to
receive feedback on how to make the collection better.

Have a great day,
Joseph

[2022-04-28 11:32] Gabriel-Canton commented on #180
Hi Pedro, congratulations for the great work! I was confused by the same statement Oliver mentions... Furthermore, if you happen to change it, I was also very confused by the part thats says "Specifies the _encrypted_ string for the password to create or change the password.". At first I thought the use of "encrypted" was a mistake, and spent a lot of time trying to figure out why the change seeme

[2022-05-02 22:29] pvtorres commented on #180
@Gabriel-Canton , excellent suggestion.
The problem that is facing that command is related to the encrypted algorithm AIX uses vs Linux or other operating systems. AIX by default is not compatible with SHA 256 or SHA 512 passwords in the way Linux encrypt them.
Like you explained, the user can  encrypt the password in AIX using "openssl passwd -crypt <password>  " and use that encrypted password i

[2022-05-03 00:43] #180 closed, assigned to pvtorres

[2022-05-03 00:44] pvtorres commented on #198
This was recreated in our test systems. Investigating.

[2022-05-03 15:18] pvtorres commented on #198
Further debugging into the problem shows that the module did not find any efixes (ifixes) to install in the compress file.
The flrtvc module uses the flrtvc command to download High Impact pervasive threats (apar: hiper), Security Vulnerabilities (apar: sec) or all (apar: all) which is both. This last option is the default.

The ifixes are temporary fixes specific which lock the files they are fix

[2022-05-05 17:51] edrendar opened #199 "Error in AIX servers: "module_stderr": "Shared connection to x.x.x.x closed.\r\n""
**Symptom**
In some AIX machines when I run the module "ibm.power_aix.flrtvc" I got this error: **module_stderr": "Shared connection to x.x.x.x closed.\r\n**

I looked on google about this error, but I'm not able to get a successful result.

**Snip from the ansible controller**
[code]

OS: Red Hat Enterprise Linux Server 7.9
Python Version: 3.6.8
OpenSSH Version: 7.4p1
Ansible Version: 2.11.2
AIX

[2022-05-09 16:32] #198 closed, assigned to nobody

[2022-05-13 14:56] dfmateus commented on #191
Hi Team, I saw the module [demo_reboot.yml](https://github.com/IBM/ansible-power-aix/blob/dev-collection/playbooks/demo_reboot.yml) was updated any fix has been done ?

[2022-05-13 15:02] dfmateus opened #203 "Is there any plan to create a module to use install_all_updates ?"
**Describe the solution you'd like**
A module to use **install_all_updates** for performing updates in filesets, we're already had a module to [installp – Installs and updates software](https://ibm.github.io/ansible-power-aix/modules/installp.html)

- [install_all_updates](https://www.ibm.com/docs/en/aix/7.2?topic=i-install-all-updates-command)

**Additional context**
Currently I'm using the **she

[2022-05-17 21:45] stephenulmer commented on #164
A project I'm working on needs this pretty urgently, and was going to start an implementation when I found this issue.

I've imported the code from @d-little and updated it to pass all of the sanity tests for the version of Python I'm using. I still need to write some real-world controls to use/test the module. I will submit at least a draft PR tomorrow.

[2022-05-18 17:48] stephenulmer commented on #164
PR submitted earlier. Additionally, PR #206 was submitted to fix the root cause of the sanity tests that were failing for this and #204.

[2022-05-18 18:37] timway opened #207 "The filesystems Module Does Not Respect Attributes / Options When Creating"
**Describe the bug**
Unable to create NFS filesystems in /etc/filesystem with the `ibm.power_aix.filesystems` module. It does not respect the `attributes` parameter.

**To Reproduce**
[code]

**Expected behavior**
It should create an options line in the `/etc/filesystems` definition containing the attributes that were provided.

[code]

**Screenshots**
If applicable, add screenshots to help explai

[2022-05-18 20:58] jdejoya17 commented on #207
hi @timway ,

The current module parameter `attributes` is only designed to be used for a local filesystem as per the `ibm.power_aix.filesystems` module documentation.

We will add this to the list of future enhancement - a feature to support attributes for NFS (mknfsmnt attributes/options).

We welcome the community to work on this feature.

Thank you

[2022-05-23 18:49] cheekm commented on #191
Hi, I've been trying unsuccessfully to get this module to consistently reboot an AIX LPAR just once. I've played with the delay parameters but cannot seem to make any difference. Most times, my LPAR reboots four times.

While it is rebooting, I can see this process for each LPAR:

root      87975  84921  0 14:00 pts/9    00:00:00 ssh -o ForwardAgent=yes -o ControlPersist=30m -o ServerAliveInterval

[2022-05-26 14:36] #207 closed, assigned to jdejoya17

[2022-05-27 21:25] nigeldao007 opened #208 "How to undo power_aix_bootstrap role?"
Hi,

I successfully ran a playbook with power_aix_bootstrap role.

If I want to cleanly undo this role, is this supported?  If so, how?

Thank you

[2022-06-13 15:35] stephenulmer commented on #109
Just noting here that I know that this is being worked-on by the IBM team (so nobody puts in work that will be obsoleted).

[2022-06-14 11:32] MBlenn commented on #190
@pvtorres
Hi Pedro,
in general the user ID support seems to be in place, right?
Modifying an existing user works for me, the ID is updated in /etc/passwd.
When creating a user using the ID attribute it works for very simple users, but as soon as pgrp, groups, home, shell or umask are added the task fails (even though the user is created):
`fatal: [testserver]: FAILED! => {"changed": false, "msg":

[2022-06-14 15:04] jdejoya17 opened #209 "installp module not idempotent"
**Describe the bug**
installp module is not idempotent

**To Reproduce**
[code]

- successfully de-installs a fileset
- second run error out - specifying it is already not installed
- recap shows the play in changed state
- current code does not appear to check first if it is already uninstalled before it tries to uninstall
- current code sets up installp command parameters, and then running it, t

[2022-06-16 16:23] GreenRodger8 commented on #209
User did not have latest collection level (1.4.1). No problem after update.

[2022-06-26 14:03] michaelquaranta commented on #209
Hi - sorry I think I found another case where it is not idempotent and as far as I can tell not addressed in 1.4.1.
When I run:

`ansible myhost -m ibm.power_aix.installp -a "action=commit install_list=all" -b`

And the filesets are all already committed, I get

`Nothing to Commit\n  -----------------\n  There is nothing in the APPLIED state that needs to be committed.`

And the state is "Changed"

[2022-06-28 18:52] jrtaisto opened #210 "Module: ibm.power_aix.filesystem (collection 1.41) is not idempotent between runs."
**Describe the bug**

Using module like so:

  ibm.power_aix.filesystem:
    device: "{{ home[project_environment].dev }}"
    nfs_server: "{{ home[project_environment].nfs_server }}"
    permissions: "{{ home[project_environment].permissions }}"
    filesystem: "{{ home[project_environment].filesystem }}"
    state: present

First run creates the NFS filesystem and mounts it.
Second run, it tries

[2022-06-28 20:06] jrtaisto commented on #210
Okay, the issue is not the module but a combination of using this module, the ansible.builtin.blockinfile with a comment block before the given /etc/filesystems stanza.  It looks like lsfs does NOT work correctly if you do this.  If you don't use this combination, everything works fine.  Closing this issue as it really isn't a module issue, but an lsfs issue.

[2022-06-28 20:06] #210 closed, assigned to nobody

[2022-07-08 03:28] pvtorres commented on #208
There is not an auto-undo for the bootstrap.
But the bootstrap basically installs the AIX Toosbox for open software.
These are packages, if you used it for AIX 7.1 or AIX 7.2, to install yum and then, using yum to install python2, dependencies, pycurl and wget (these two used by the vios nim modules and the flrtvc modules from the collection.

You can uninstall manually using the rpm -e <rpm name>

[2022-07-08 04:04] pvtorres opened #212 "New updates to lpp_facts and lpar_facts for addtional inventory collection"
**Is your feature request related to a problem? Please describe.**
Improve the inventory collections from lpp_facts and lpar_facts.

**Describe the solution you'd like**
lpar_facts: Add features such as :
   -- os level and hardware enable capabilities such as in_core crypto
   -- nx crypto enablement
   -- processor type and processor mode
   -- full application dump enablement.
   Example:

  an

[2022-07-08 12:15] nigeldao007 commented on #208
Thank you

On Jul 7, 2022, at 11:29 PM, Pedro V Torres ***@***.***> wrote:

﻿
There is not an auto-undo for the bootstrap.
But the bootstrap basically installs the AIX Toosbox for open software.
These are packages, if you used it for AIX 7.1 or AIX 7.2, to install yum and then, using yum to install python2, dependencies, pycurl and wget (these two used by the vios nim modules and the flrtvc module

[2022-07-08 16:32] #212 closed, assigned to nobody

[2022-07-10 16:09] pvtorres commented on #203
Have you tried to use the suma/nim_suma modules in this context?

[2022-07-12 03:15] pvtorres opened #215 "Add Kernel Tuning Ansible modules"
**Is your feature request related to a problem? Please describe.**
Add modules to support Kernel Tuning automation

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-07-18 13:16] #208 closed, assigned to nobody

[2022-07-18 13:39] #215 closed, assigned to nobody

[2022-07-19 15:24] pvtorres commented on #109
Stephen,
We created the nim_resource module to allow the definition of nim object related to resources.

https://github.com/IBM/ansible-power-aix/blob/dev-collection/plugins/modules/nim_resource.py

        name: Define a NIM lpp_source.
        ibm.power_aix.nim_resource:
        action: create
        name: lpp_730
        object_type: lpp_resource
        attributes:
             source: /softw

[2022-07-19 15:24] #109 closed, assigned to nobody

[2022-07-19 16:30] pvtorres commented on #182
@Jbarboza06 and @SteveMunday62 , can you please confirm that you are still having the problems with the latest release 1.5.0?
It seems from @Jbarboza06 debug code, that the problem was the module trying to run the oslevel on the target node.
The question was if the client was registered to the nim server (can be tested by running the command manually from the nim server:
/usr/lpp/bos.sysmgt/nim/me

[2022-07-19 16:46] #164 closed, assigned to nobody

[2022-07-19 17:16] pvtorres commented on #63
@StevePOI , can you tell us if this problem is still happening with the latest release 1.5.0?  Idempotency and other fixes  were made in the lvm_facts.py.

[2022-07-20 07:30] StevePOI commented on #63
@pvtorres Hello!

I´m afraid it still happens with release 1.5.0 and only on the secondary nodes of our POWERHA SYSMIRROR clusters, the one cluster we have which is active-active also one node failed.

Example inactive AIX 7.2 PowerHA 7.2.5 node:

Jul 20 2022 09:19:36 - FAILED - {"module_stdout": "\r\nTraceback (most recent call last):\r\n  File \"/home/USER/.ansible/tmp/ansible-tmp-1658301572.969

[2022-07-21 13:05] josesantosgit commented on #193
Hello,

Any update about that??
i have the same error.

thank you

[2022-07-21 21:31] #209 closed, assigned to GreenRodger8

[2022-08-08 13:55] pvtorres commented on #190
Hi Martin,
Can you provide the playbook task that you are using when modifying and existing user?
I am trying to recreate the problem. So I need to create a user where I input the ID I want. And that ID is not currently used by any other user. If the task is simple, it will work. But if I delete that user and try it again, this time with more complex attribute such as pgrp, groups home, shell or u

[2022-08-09 04:09] raeyacld commented on #193
Hello, the lpp_source name needs to follow "7xxx-xx-xx-xxxx-lpp_source" format
Please change  7200-02-02-1832_current to "7200-02-02-1832-lpp_source" and try again

[2022-08-09 21:41] GreenRodger8 commented on #199
Hello,
What version of AIX was the end point with the error?
Also, could you provide the playbook that produced this error?
Thank you.

[2022-08-09 22:19] pvtorres commented on #190
I tried to crate a user with the id, group and shell. So far it seems to be working.

Playbook:
  - name: create user
    ibm.power_aix.user:
      state: present
      name: test1
      password: "{{ aix_enc_passwd_v }}"
      attributes:
         id: "{{ uid }}"
         groups: "{{ group_list }}"
         shell: "/usr/bin/ksh"

         output:

changed: [test1.ibmm.com] => changed=true
  invoc

[2022-08-10 15:47] #194 closed, assigned to nobody

[2022-08-12 15:09] aklyachkin commented on #193
The issue is not about lpp_source name format, but about error reporting. If it doesn't work with the lpp_source provided, it MUST report the error and set the task to failed.

[2022-08-15 14:45] raeyacld commented on #193
If you use "async=yes" flag in "nim -o cust" command, ansible will move on to next task without return an error
please provide the log of "nim -o cust" command that is triggered by Ansible nim update task.

[2022-08-15 15:16] aklyachkin commented on #193
Sorry, I don't use any flags in any commands. I use IBM's provided ansible module. E.g. as for now I see another error message on another server:

[code]

But still the task was successful and didn't return any error/failure.

[2022-08-15 15:18] raeyacld commented on #193
can you post your playbook? or use -vvv flag for ansible run?

[2022-08-15 15:18] aklyachkin commented on #193
The whole playbook is posted in the first message.

[2022-08-15 15:22] raeyacld commented on #193
oh, missed that... did you run with a set of nim clients?  your nim client nimsh seens inoperative according to the last error

[2022-08-15 15:24] raeyacld commented on #193
please re-create problem with -vvv so I can see what flags are being executed.

[2022-08-15 15:26] aklyachkin commented on #193
Please provide information what you want to see in the output. There is no NIM command in the verbose output and the only error information I posted above. I can't post the whole output because of security considerations.

[2022-08-15 15:30] raeyacld commented on #193
<img width="680" alt="Screen Shot 2022-08-15 at 10 29 47 AM" src="https://user-images.githubusercontent.com/81342174/184665585-7a707014-2db3-4bfe-891f-3f8059a9c1fb.png">

[2022-08-15 15:30] raeyacld commented on #193
please check if you can find any details under meta

[2022-08-15 15:33] aklyachkin commented on #193
I posted above the whole meta section. I post it again:

[code]

[2022-08-15 15:41] raeyacld commented on #193
what is your local host? is it a group of clients or a single client,  can you share you inventory file?
what is your ansible command you just run?

[2022-08-15 15:45] raeyacld commented on #193
the lpp_source name does not follow the required format based on the current design. please change to:
 xxxx-xx-xx-xxxx-lpp_source

You would keep hitting the same message without changing the lpp_source name.

[2022-08-15 15:46] aklyachkin commented on #193
The localhost is NIM server where the playbook is. There is no inventory, because I don't need it for the example and we don't have many NIM servers, where NIM module could be run.

The command I run is always the same (see the first message):

[code]

The difference is only in -vvv if I want to get additional information.

[2022-08-15 15:47] aklyachkin commented on #193
Again - the problem is not lpp source naming, but your ignorance regarding error messages. I just did the test with the "correct" naming, it fails the same way.

If you look in YOUR source code, in file plugins/modules/nim.py, in the function nim_update you ignore all the possible errors.

[2022-08-15 15:51] raeyacld commented on #193
understand. what is the log when you use the correct name?  your last log does not show it.
"meta": {
        "nimclient": {
            "messages": [
                "Cannot get oslevel from lpp source name: 7200-05-03_current"  <---- wrong format.

[2022-08-15 15:51] aklyachkin commented on #193
Here was wrong info from my side. With the lpp_source named according to your undocumented rules, the server is being updated. Still the issue with ignoring errors persist.

[2022-08-15 16:02] raeyacld commented on #193
thanks for the feedback. We will document the rules.

[2022-08-15 16:04] aklyachkin commented on #193
and what about errors? how do you plan to handle them?

[2022-08-15 16:31] raeyacld commented on #193
we will evaluate the current design and come up with a solution.

[2022-08-16 22:55] MBlenn commented on #190
Hi @pvtorres,

thanks for looking into this, sorry for the late reply!

My test systems were 7200-05-03-2148.
I have meanwhile updated my collection to 1.5.0 as well and am typically using the ibm.power_aix.user with the attributes shown below:

[code]

Luckily now the problem no longer persists, the user is created on the first try, no more errors are shown that would require a retry to get the t

[2022-08-17 15:28] pvtorres commented on #190
yw.

[2022-08-17 15:28] #190 closed, assigned to pvtorres

[2022-08-30 23:35] mccharlton commented on #193
Hello Raeyacld

So I run into an issue when patching AIX lpar using ansible when updating AIX from 7200-05-03-2135 to 7200-05-04-2220 . Playbook runs and does not update the nim client. No errors are displayed after the playbook run. The only way to see any significant output is to add -vvv (verbose) option.

Here is the meta information.

},
    "meta": {
        "messages": [],
        "nimclien

[2022-08-30 23:47] mccharlton commented on #193
currently at 7.2 TL5 SP3 and updating to TL5 SP4

[2022-09-03 05:39] athomasLRS opened #226 "filesystem module ignores attributes parameter for NFS filesystems"
**Describe the bug**
Creating or modifying an NFS filesystem using the filesystem module doesn't seem to use the attributes parameter

**To Reproduce**
Step 1
Run the task below to create a NFS filesystem
[code]
Output
[code]
Step 2
View NFS filesystem definition in /etc/filesystems. Notice that "soft" mount option is not present
[code]
Step 3
Run the play a 2nd time.  Output
[code]

Step 4
Viewin

[2022-09-09 07:40] Hiroshi-Suzuki-kyndryl opened #227 "What domains must be allowed in Proxy?"
**Describe the bug**
I am trying to deploy ibm.power_aix using ansible-galaxy command in a proxy environment.

The domains allowed by Proxy are as follows:
  galaxy.ansible.com
  ansible-galaxy.s3.amazon.com

An error occurs after the install command is executed.

  command:
    ansible-galaxy collection install ibm.power_aix:1.4.1
  error:
    ERROR! Unknoen error when attemption call Galaxy at '

[2022-09-20 13:32] nitismis commented on #226
Issue is assigned to a developer. Working on it !

[2022-09-27 09:42] schamola commented on #226
"attributes" is not supported with NFS Filesystem. It is supported only for local filesystem as documented in the module, more information can be found in the AIX documentation : https://www.ibm.com/docs/en/aix/7.2?topic=m-mknfsmnt-command
Right now there is only support for auto_mount, permissions and mount_group in case of NFS.

[2022-09-27 16:39] neikei opened #228 "ibm.power_aix.tunables | Idempotence isn't implemented yet"
Every time the module ibm.power_aix.tunables is used with modify/reset the result will be "changed" even if this is not the case, because the values are already correctly set.

A check of return codes or maybe pre-checks before are modification would be a good improvement.

https://github.com/IBM/ansible-power-aix/blob/76ec9216cc4b631e1504cae0f615b1f8440540c2/plugins/modules/tunables.py#L683-L684

[2022-10-04 10:43] AIXperts opened #231 "Add quorum option to lvg"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to enable/disable quorum on volume groups.

**Describe the solution you'd like**
A 'quorum: {on|off}' option to lvg.

**Describe alternatives you've considered**
Using 'command' seems to be the only alternative.

**Additional context**

[2022-10-05 10:19] ubibm opened #233 "lpar_netboot not getting adapter"
Running the module ibm.power_hmc.powervm_lpar_instance with action: install_os is not able to get pingable virtual ethernet adapter.
Manual attempt from SMS menu does ping the nim server.

The issue is, that in fetchIODetailsForNetboot in plugins/module_utils/hmc_resource.py that calls lpar_netboot, the -K netmask parameter is missing and an attempt to ping the nim server fails.
In order to resolv

[2022-10-05 15:30] AIXperts commented on #231
I am not really sure the process described in your guides work, so I will just start working on this unless someone has any objections.

[2022-10-05 19:25] ubibm commented on #233
reported to incorrect collection

[2022-10-05 19:25] #233 closed, assigned to nitismis

[2022-10-12 06:55] nitismis commented on #231
Hi ! @AIXperts , so have you started working on this.Please let us know your development plan and documentation here.
You can work independently but I am also assigning this to one of our team developers to have sync.

[2022-10-12 07:19] AIXperts commented on #231
Hi nitismis,

I have submitted a pull request for this. Hoping I have done it right, have not used GitHub before.

Is this documented elsewhere? If so, I have not come across it.

Regards,
Henrik Morsing

[2022-10-16 10:39] psyntium opened #235 "emgr list parser"
**Is your feature request related to a problem? Please describe.**
The output of the `emgr` module with `list` action is just `stdout` and `stdout_lines`. But not a proper list of ifixes and the count.

**Describe the solution you'd like**
The output should be parsed accordingly with list of ifixes in array of dict.

**Describe alternatives you've considered**
I created a emgr_list.py modules that

[2022-10-17 14:06] AIXperts commented on #231
Hi,

I don't know if I'm reading the messages right, but it looks like it has been blocked again.

git log says it was signed off 6 days ago:

commit 1a997c334611f3788714639e3b037b9b03100b77
Author: Henrik Morsing <henrik@morsing.cc>
Date:   Tue Oct 11 14:16:12 2022 +0100

    Feature: Add quorum to lvg change_vg

    Signed-off-by: Henrik Morsing <henrik@morsing.cc>

so can't see any problem with

[2022-10-19 19:25] christopher-horn opened #237 "flrtvc module broken as can not find file"
The flrtvc module appears to be broken as it reports it is unable to download the file.
[code]
Logging into the host, which is deployed out in PowerVS, and checking with wget shows:
[code]

[2022-10-21 09:28] nitismis commented on #237
Hi @christopher-horn
Yeah both links which are used in the module is not working any more.
I am looking into the issue.
Will update here, if I get any information about this.

[2022-10-21 09:29] nitismis commented on #228
Tunables from different modules behaves differently on AIX. I am working on this right now.

[2022-10-21 09:33] nitismis commented on #226
The fix has been merged. Closing the issue.

[2022-10-21 09:33] #226 closed, assigned to schamola

[2022-10-22 04:37] nitismis commented on #237
It seems that the location of flirtvc zip file has been changed recently and need to be updated in the module,
We are going to confirm it and update the module.

[2022-10-22 05:41] nitismis commented on #231
Hi @AIXperts
Yes, this signed-off thing is newly introduced by the git community. It's now it our hand, and sometimes it feels irritating but you will get used to it, hopefully :)
Anyways, I see our team has given some review on your PR and requested some change. Once done, we can approve and merge it in the repository.

[2022-11-01 12:03] nitismis opened #239 "User module should be able to create local user even if the user exists in active directory (LDAP)"
**Problem:**
The module fails to create the local user because there's an lsuser check that returns True since user  exists in Active Directory (LDAP)

**Solution:**
Support for "-R" flag for mkuser and lsuser will fix this problem.

**Additional Information:**
If the domainlessgroups attribute is set in the /etc/secvars.cfg file, the lsuser command lists the merged group from the LDAP module (AD

[2022-11-03 06:46] nitismis commented on #231
Closing this issue as PR has been merged.

[2022-11-03 06:46] #231 closed, assigned to schamola, AIXperts

[2022-11-09 13:21] smurphyit opened #240 "Issue with URL for flrtvc.py"
When running a flrtvc playbook, it fails with errors on wrong location to download the flrtvc_latest.zip file.  The exact error is:
"meta": {"messages": ["Cannot download https://www-304.ibm.com/webapp/set2/sas/f/flrt3/FLRTVC-latest.zip"]}, "msg": "Failed to download FLRTVC-latest.zip"}

If the following is changed from the ibm/power_aix collections directory seems to work:
sed -i 's|https://www-3

[2022-11-09 13:24] smurphyit commented on #240
This would most likely need to be updated in plugins/modules/nim_flrtvc.py as well.

[2022-11-09 14:14] AIXperts opened #241 "inittab modules calls mkitab incorrectly"
**Describe the bug**
mkitab: 0481-203 Cannot specify more than one parameter.

**To Reproduce**
 - name: Add service to inittab
    when: ansible_os_family == "AIX"
    ibm.power_aix.inittab:
      name: service
      runlevel: "2"
      action: once
      command: "/home/service/agent start >/dev/console 2>&1"
      insertafter: ctrmc
      state: present
    become: yes

fails with:

fatal: [ser

[2022-11-11 09:34] nitismis commented on #237
This is issue is fixed now.
PR link: https://github.com/IBM/ansible-power-aix/pull/242

[2022-11-11 09:34] #237 closed, assigned to nitismis

[2022-11-11 10:18] nitismis commented on #240
Both files are fixed. Thanks for reporting !

[2022-11-11 10:18] #240 closed, assigned to nitismis

[2022-11-11 10:29] nitismis commented on #241
Hi @AIXperts
Give us sometime, we will look into this.

[2022-11-30 07:29] nitismis commented on #241
We believe this is the way AIX functions. Code is fine. We are not the right team to answer this question about underlying reason for this behaviour.

Thanks and Regards,
Nitish K Mishra

[2022-11-30 07:29] #241 closed, assigned to nitismis

[2022-11-30 15:09] AIXperts commented on #241
Hi Nitismis,

Your answer makes no sense. So you are saying AIX is designed to be broken? The same command Ansible tries to run, works fine if I run it manually.

Can you please post what you ran and the test output?

Regards,
Henrik Morsing